<div class= "row">
  <div class= "col-xs-10 col-xs-offset-1">
    <% flash.each do |name, msg|%>
      <div class= 'alert alert-<%="#{name}"%>'> <!-- el name tiene que ver con el :notice, el cual  se cambia en controlllers a :success o :sanger dependiendo del color que se quiera-->
        <a href="#" class="close" data-dismiss= "alert">&#215</a> <!--El 215 ese es la X para cerrar el flash-->
        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)%>
      </div>
    <% end %>
  </div>
</div>
